nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    flex-wrap:nowrap;
    background: #ffffff;
    font-weight: 600;
  }
.ShoppingBasketIcon{
  font-size: "small";

}


  
  .nav__projectName {
    color: #e4f9ff;
    text-decoration: none;
  }
  
  .authLink {
    width: 40%;
    color: #000000;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    margin-top: 10px;
    align-items: center;
  justify-content: space-evenly;  }
  
  /* .authLink + .authLink {
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
    margin-top: 30%;
  } */
  
  .authLink:hover {
    color: #747070;
  }
  
  .nav-logoutbtn {
    font-family: inherit;
    font-weight: inherit;
    padding: 0.5em 1em;
    margin-left: 1em;
    background-color: #fafafa;
    box-shadow: 0 0 5px 0 rgb(0, 0, 0);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    color: #000000;
    transition: all 0.2s ease-in-out;
    position: sticky;
    top: 0;
    
  }
  
  .nav-logoutbtn:hover {
    transform: scale(1.05);
    background-color: #bbbbbb;
  }