

.card1 {
    display: flex;
    flex-basis:auto;
    float: left;
    width: 20%;
    justify-content: space-evenly;

}
.pleasework{
    margin: 10%;
}
.addshit{
    position: absolute;
    margin-left: 25%;
    margin-top: 25%;
    font-size: 2.5rem!important;

}
